<div class="container">
<div class="header">Meus Boards</div>
  
  <% (1..5).each do |a| %>
    <div class="box">
      <div class="box-header">sssssssss</div>
    </div>
  <% end %>
  
  <div class="box success">
      <div class="box-header success">Criar novo quadro</div>
    </div>
</div>