<div class="container">
<div class="header"><%= t 'field.my', value: (t 'controller.board') %></div>
  
  <% @boards.each do |board| %>
    <div class="box">
      <%= link_to board.title, board_path(board), class:"flex success" %>
    </div>
  <% end %>
  
  <div class="box success">
    <%= link_to (t 'messages.project.add', value: (t 'controller.board')), boards_path, class:"flex success", data: {toggle: "modal", target: "#modal_board"} %>
  </div>
</div>